set -gx fish_greeting              ''

# GPG
set -x                             GPG_TTY (tty)
set -x                             SSH_AUTH_SOCK (gpgconf --list-dirs agent-ssh-socket)
gpgconf --launch gpg-agent

set -gx GOPATH                     $HOME/.go
set -gx GOBIN                      $HOME/.go/bin
set -gx GO111MODULE                on

set -gx RIPGREP_CONFIG_PATH       "$HOME/.ripgreprc"

set configs aliases paths
for config in $configs
  if test -e $__fish_config_dir/$config.fish
    . $__fish_config_dir/$config.fish
  end
end
set -e configs

if type -q rtx
  rtx activate fish | source
  eval (rtx exec -- direnv hook fish)
end
eval ({{ .dircolors_bin }} -c)
