#
# Bootstrap
#
set fish_greeting ''

{{ if eq .chezmoi.os "darwin" }}
#
# Homebrew
#
/opt/homebrew/bin/brew shellenv | source
{{- end }}

# Paths
fish_add_path --append \
    # Local stuff
    $HOME/.local/bin \
    # https://github.com/GoogleChromeLabs/jsvu
    $HOME/.jsvu \
    # Go
    $HOME/.local/go/bin

#
# ripgrep
#
# Set configuration file path
set -gx RIPGREP_CONFIG_PATH $XDG_CONFIG_HOME/ripgrep/config

#
# mise
#
mise activate fish | source

#
# Golang
#
set -gx GOPATH $HOME/.local/go

#
# Rust
#
# https://doc.rust-lang.org/cargo/reference/environment-variables.html
set -gx CARGO_NET_GIT_FETCH_WITH_CLI true
if type -q cargo
    source "$HOME/.cargo/env.fish"
end

if type -q sccache
    set -gx RUSTC_WRAPPER sccache
end

#
# Eza
#
if type -q eza
    alias l="eza"
    alias ll="eza --long --header --group --created --modified -a"
    alias ls="eza"
end

#
# bat
#
if type -q bat
    set -x MANPAGER "bat --plain"
    set -x PAGER "bat --plain"

    alias cat="bat --paging=never --plain"
    alias less="bat --plain"
end

#
# fzf
#
fzf --fish | source

#
# EDITOR
#
if not test -z EDITOR
    set -x EDITOR hx
    alias x="hx"
end

{{ if eq .chezmoi.os "linux" }}
#
# Gnupg
#
gpgconf --launch gpg-agent

if test -e (gpgconf --list-dirs agent-ssh-socket)
    set -x GPG_TTY (tty)
    set -g -x SSH_AUTH_SOCK (gpgconf --list-dirs agent-ssh-socket)
else
    echo (gpgconf --list-dirs agent-ssh-socket) "doesn't exist. Is gpg-agent running?"
end

#
# Zed
#

alias zed="flatpak run dev.zed.Zed-Preview"

{{ end -}}
