[Unit]
Description=Geoclue agent
BindsTo=sway-session.target
[Service]
Type=simple
ExecStart=/usr/lib/geoclue-2.0/demos/agent
[Install]
WantedBy=sway-session.target

