#!{{ lookPath "fish" }}

{{ $hash := include "dot_config/fish/fish_plugins.tmpl" | sha256sum }}

## Install fisher
if not type -q fisher
  echo "installing fisher"
  curl -sL https://git.io/fisher | source
end

fisher update

set -U fish_plugins_hash {{ $hash }}
