{
  "$schema": "https://opencode.ai/config.json",
  {{- if .workconf }}
  "mcp": {
    "GitLab": {
      "type": "remote",
      "enabled": true,
      "url": "https://gitlab.com/api/v4/mcp",
    }
  },
  {{- end }}
  "plugin": [
  {{- if .workconf }}
    "@gitlab/opencode-gitlab-plugin",
  {{- end }}
    "opencode-anthropic-auth",
    "opencode-openai-codex-auth@latest",
    "opencode-devcontainers@latest"
  ],
}
