{
  "$schema": "https://opencode.ai/config.json",
  "mcp": {
    "lazy-mcp": {
      "type": "local",
      "command": [
        "lazy-mcp",
        "--config",
        "~/.config/lazy-mcp/servers.json"
      ],
      "enabled": true,
    }
  },
  "plugin": [
  {{- if .workconf }}
    "@gitlab/opencode-gitlab-auth",
  {{- else }}
    "opencode-openai-codex-auth@latest",
  {{- end }}
    "opencode-devcontainers@latest",
    "opencode-gitbutler@latest"
  ],
}
