data:
  fish:
    theme: "TokyoNight\ Storm"
  {{- if eq .chezmoi.os "linux" }}
  hostname: serenity
  pinentry_bin: /usr/bin/pinentry-gnome3
  fonts:
    wezterm:
      name: MonoLisa
      size: 12
  git:
    gpg:
      key: EA8703DF57BC7168
      bin: gpg2
    delta:
      theme: TokyoNight
  {{- else if eq .chezmoi.os "darwin" }}
  hostname: firefly
  pinentry_bin:
    arm: /opt/homebrew/bin/pinentry-mac
    intel: /usr/local/bin/pinentry-mac
  fonts:
    wezterm:
      name: MonoLisa
      size: 14
  git:
    gpg:
      key: EA8703DF57BC7168
      bin: gpg
    delta:
      theme: TokyoNight
  {{- end }}
format: yaml
