---
# vim:ft=gotmpl.yaml
{{ $email := promptString "email" -}}
{{ $workconf := promptBool "work config" -}}

progress: true
format: yaml

edit:
  command: "nvim"

diff:
  pager: delta
  command: delta
  args: ["--paging", "never"]

data:
  email: {{ $email }}
  name: Vitaly Slobodin
  workconf: {{ $workconf }}

{{- if not $workconf }}
  git:
    email: vitaliy.slobodin@gmail.com
    signing_key: EA8703DF57BC7168
  font:
    name: Berkeley Mono
{{- else }}
  git:
    email: vslobodin@gitlab.com
    signing_key: BA3C1F8C810C4D05
  font:
    name: JetBrains Mono
{{- end }}
