{{- $name := "Vitaly Slobodin" -}}
{{- $email := "vitaliy.slobodin@gmail.com" -}}
{{- $swaywm := false -}}
{{- $i3wm := false -}}
{{- $gnome := false -}}
{{- $darwin := false -}}

{{- $hostname := .chezmoi.hostname -}}

{{- if eq $hostname "firefly" -}}
{{-   $darwin = true -}}
{{- end -}}

data:
  swaywm: {{ $swaywm }}
  i3: {{ $i3wm }}
  gnome: {{ $gnome }}
  darwin: {{ $darwin }}
format: yaml
