[user]
  name = Vitaly Slobodin
  email = vitaliy.slobodin@gmail.com
[color]
  ui = true
[alias]
  up = pull --rebase
  st = status
  co = checkout
  pf = push --force-with-lease
  am = commit --amend
  graph = log --oneline --graph --all --decorate
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
  default = current
[fetch]
  prune = true
[rerere]
  enabled = true
[difftool]
  prompt = false
[mergetool]
  prompt = false
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[core]
  pager = delta
  autocrlf = false
  precomposeUnicode = true
  # Enable parallel index preload for operations like git diff
  preloadindex = true
  excludesfile = ~/.gitignore_global
[interactive]
  diffFilter = delta --color-only
[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
[includeIf "gitdir:~/projects/gitlab/"]
  path = .gitconfig_gitlab
[rebase]
  instructionFormat = %s [%an]
