# Environment variables {{{
export EDITOR="nvim"
export VISUAL="nvim"
# export QT_SCALE_FACTOR=1.5
# }}}

# Tweaks {{{
# Pretend we are Gnome Desktop
if [ -z $XDG_CURRENT_DESKTOP ]; then
  export XDG_CURRENT_DESKTOP="GNOME"
fi
# }}}

# Xorg settings {{{
# Adjust default resolution and DPI
xlayoutdisplay -q

# Stop screen from going blank
xset s off
xset -dpms
xset s noblank

# Hide Cursor when typing
xbanish &

# Faster key repeat and delay
xset r rate 210 40
# }}}

# Autolaunch {{{
nm-applet --indicator &
picom -b --experimental-backends &
blueman-applet &
flameshot &
pasystray &
~/.fehbg
# }}}

# vim:fdm=marker
