! Colors
#include ".xcolors/dracula.xcolors"

Xft.dpi:        109
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintslight

Xcursor.size: 42
Xcursor.theme: capitaine-cursors-light
