! Include wal colors
#include ".cache/wal/colors.Xresources"

Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 156
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

Xcursor.size: 48
Xcursor.theme: capitaine-cursors-light
