tap 'homebrew/bundle'
brew 'atuin'
brew 'bat'
brew 'cmake'
brew 'colima'
brew 'coreutils'
brew 'curl'
brew 'dive'
brew 'docker'
brew 'docker-buildx'
brew 'docker-compose'
brew 'docker-credential-helper'
brew 'editorconfig'
brew 'fd'
brew 'ffmpeg'
brew 'fish'
brew 'fontconfig'
brew 'fzf'
brew 'gh'
brew 'git'
brew 'git-delta'
brew 'git-extras'
brew 'git-lfs'
brew 'gnupg'
brew 'gpgme'
brew 'graphicsmagick'
brew 'grep'
brew 'imagemagick'
brew 'jq'
brew 'lazygit'
brew 'lnav'
brew 'libiconv'
brew 'mas'
brew 'pinentry-mac'
brew 'pkg-config'
brew 're2'
brew 'ripgrep'
brew 'skopeo'
brew 'sqlite'
brew 'tree'
brew 'wget'
brew 'xcodes'
brew 'zlib'

# Casks
cask '1password'
cask '1password-cli'
cask 'appcleaner'
cask 'elgato-control-center'
cask 'firefox'
cask 'font-symbols-only-nerd-font'
cask 'ghostty'
cask 'gitbutler'
cask 'google-chrome'
cask 'handbrake'
cask 'iina'
cask 'imageoptim'
cask 'keka'
cask 'keycastr'
cask 'mos'
cask 'obs'
cask 'pika'
cask 'qlmarkdown'
cask 'quicklook-json'
cask 'raycast'
cask 'sanesidebuttons'
cask 'visual-studio-code'
cask 'wezterm@nightly'

mas '1Password for Safari', id: 1_569_813_296
mas 'Gapplin', id: 768_053_424
mas 'JSON Helper', id: 453_114_608
mas 'Keynote', id: 409_183_694
mas 'Numbers', id: 409_203_825
mas 'Pages', id: 409_201_541
mas 'Velja', id: 1_607_635_845

{{- if not .workconf }}
cask 'acorn'
cask 'cleanshot'
cask 'daisydisk'
cask 'discord'
cask 'fork'
cask 'jetbrains-toolbox'
cask 'little-snitch'
cask 'monodraw'
cask 'netnewswire'
cask 'prismlauncher'
cask 'protonvpn'
cask 'qbittorrent'
cask 'telegram'
cask 'whatsapp'

mas 'Wipr', id: 1_662_217_862
{{- else }}
tap 'gitlab/fonts', 'https://gitlab.com/vitallium/homebrew-gitlab-fonts'

cask 'claude'
cask 'figma'
cask 'slack'
cask 'zoom'

cask 'font-gitlab-sans-regular'
cask 'font-gitlab-sans-italic'
cask 'font-gitlab-mono-regular'
cask 'font-gitlab-mono-italic'
{{- end }}
