{
  "theme": {
    "dark": "One Dark",
    "light": "macOS Classic Light"
  },
  "buffer_font_family": "{{ .zed.font.buffer.name }}",
  "buffer_font_size": {{ .zed.font.ui.size }},
  "ui_font_family": "{{ .zed.font.ui.name }}",
  "ui_font_size": {{ .zed.font.ui.size }},
  "telemetry": {
    "diagnostics": false,
    "metrics": false
  },
  "journal": {
    "hour_format": "hour24",
    "path": "~/Documents/Journal"
  },
  "languages": {
    "Ruby": {
      "language_servers": [
        "ruby-lsp",
        "tailwindcss-language-server",
        "!solargraph",
        "..."
      ]
    }
  },
  "lsp": {
    "rust-analyzer": {
      "inlayHints": {
        "maxLength": null,
        "lifetimeElisionHints": {
          "useParameterNames": true,
          "enable": "skip_trivial"
        },
        "closureReturnTypeHints": {
          "enable": "always"
        }
      }
    },
    "solargraph": {
      "initialization_options": {
        "diagnostics": true,
        "formatting": true
      }
    },
    "ruby-lsp": {
      "initialization_options": {
        "enabledFeatures": [
          "codeActions",
          "diagnostics",
          "documentHighlights",
          "documentLink",
          "documentSymbols",
          "foldingRanges",
          "formatting",
          "hover",
          "inlayHint",
          "onTypeFormatting",
          "selectionRanges",
          "semanticHighlighting",
          "completion",
          "codeLens",
          "definition",
          "workspaceSymbol",
          "signatureHelp"
        ],
        "experimentalFeaturesEnabled": true,
        "featuresConfiguration": {
          "inlayHint": {
            "enableAll": true
          }
        }
      }
    },
    "tailwindcss-language-server": {
      "includeLanguages": {
        "erb": "html",
        "ruby": "html"
      },
      "experimental": {
        "classRegex": ["\\bclass:\\s*'([^']*)'"]
      }
    }

  }
}
