#!/usr/bin/env bash

set -eufo pipefail

if [[ ! -d "$HOME/.asdf" ]]; then
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch "{{ .asdf_version }}"
fi

# reload shell before installing asdf plugins
. "$HOME/.asdf/asdf.sh"

ASDF_PLUGINS=(
  direnv
  elixir
  erlang
  golang
  minio
  nodejs
  postgres
  python
  redis
  ruby
  yarn)

for i in "${ASDF_PLUGINS[@]}"; do
  asdf plugin add "$i"
done

asdf install direnv latest
