#!/usr/bin/env zsh

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "bat"
brew "fd"
brew "fzf"
brew "git"
brew "git-delta"
brew "git-lfs"
brew "neovim"
brew "ripgrep"
cask "kitty"
cask "slack"
EOF

brew tap homebrew/cask-fonts
