{{ if (eq .chezmoi.osRelease.id "ubuntu") -}}
#!/usr/bin/env bash

sudo -v

sudo apt -y install profile-sync-daemon \
  curl \
  git \
  git-lfs \
  neovim \
  python3-pynvim \
  tmux \
  fish \
  fzf \
  ripgrep \
  unzip

{{- end }}
