#!/usr/bin/env sh

set -eufo pipefail

code --install-extension aki77.haml-lint
code --install-extension alefragnani.project-manager
code --install-extension ban.spellright
code --install-extension castwide.solargraph
code --install-extension casualjim.gotemplate
code --install-extension christian-kohler.npm-intellisense
code --install-extension DavidAnson.vscode-markdownlint
code --install-extension dbaeumer.vscode-eslint
code --install-extension eamodio.gitlens
code --install-extension EditorConfig.EditorConfig
code --install-extension enkia.tokyo-night
code --install-extension esbenp.prettier-vscode
code --install-extension GitLab.gitlab-workflow
code --install-extension gitpod.gitpod-desktop
code --install-extension golang.go
code --install-extension Gruntfuggly.todo-tree
code --install-extension JakeBecker.elixir-ls
code --install-extension kahole.magit
code --install-extension karunamurti.haml
code --install-extension ms-azuretools.vscode-docker
code --install-extension ms-vscode-remote.remote-containers
code --install-extension ms-vscode-remote.remote-ssh
code --install-extension ms-vscode-remote.remote-ssh-edit
code --install-extension nhoizey.gremlins
code --install-extension pflannery.vscode-versionlens
code --install-extension rebornix.ruby
code --install-extension redhat.vscode-xml
code --install-extension redhat.vscode-yaml
code --install-extension richie5um2.vscode-sort-json
code --install-extension samuel-pordeus.elixir-test
code --install-extension stylelint.vscode-stylelint
code --install-extension TabNine.tabnine-vscode
code --install-extension tombonnike.vscode-status-bar-format-toggle
code --install-extension vscodevim.vim
code --install-extension Vue.volar
code --install-extension WallabyJs.quokka-vscode
code --install-extension WallabyJs.wallaby-vscode
code --install-extension wingrunr21.vscode-ruby
