{{ if (eq .chezmoi.osRelease.id "arch") -}}
#!/usr/bin/env bash

set -eufo pipefail

packages=(
  curl
  git
  git-lfs
  neovim
  python-pynvim
  tmux
  unzip
)

aur_packages+=(
  git-extras
  neovim-symlinks
)

{{- if .swaywm }}
aur_packages+=(
  emacs-gcc-wayland-devel-bin
  fuzzel-git
)
{{- end }}

{{- if .i3 }}
aur_packages+=(
  dunst
  emacs
  i3-gaps
  i3status
  rofi
  scrot
  xsecurelock
  xss-lock
)
{{- end }}

{{- end }}
