{{ if (eq .chezmoi.osRelease.id "arch") -}}
#!/usr/bin/env sh

set -euo pipefail

DIR="$HOME/.local/share/chezmoi"

sudo -v

sudo mkdir -pv /etc/xdg/reflector

sudo cp -v "$DIR/system/arch/reflector.conf" /etc/xdg/reflector/reflector.conf

sudo mkdir -pv /etc/pacman.d/hooks
chezmoi execute-template < $DIR/system/arch/pkglist.hook.tmpl | sudo tee /etc/pacman.d/hooks/pkglist.hook

{{- end }}