{{ if (eq .chezmoi.osRelease.id "ubuntu") -}}
#!/usr/bin/env bash

sudo -v

sudo apt -y install profile-sync-daemon \
  curl \
  git \
  git-lfs \
  neovim \
  python3-pynvim \
  tmux \
  unzip

# asdf
git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch v0.10.0

# reload shell before installing asdf plugins
source $HOME/.asdf/asdf.sh

asdf plugin add ruby
asdf plugin add nodejs
asdf plugin add yarn
asdf plugin add erlang
asdf plugin add elixir
asdf plugin add python
asdf plugin add direnv

{{- end }}
