#!/usr/bin/env fish

## Install fisher
if not type -q fisher
  echo "installing fisher"
  curl -sL https://git.io/fisher | source
end

# This script will run whenever I added something to .config/fish/fish_plugins
# .config/fish/fish_plugins hash: {{ include "dot_config/fish/fish_plugins.tmpl" | sha256sum }}
fisher update

fish_config theme save "{{ .fish.theme }}"
