#!/usr/bin/env bash

set -eufo pipefail

if [[ ! -d "$HOME/.asdf" ]]; then
  git clone https://github.com/asdf-vm/asdf.git ~/.asdf --branch "{{ .asdf_version }}"
fi

# reload shell before installing asdf plugins
. "$HOME/.asdf/asdf.sh"

while read plugin version
do
    if asdf plugin list | grep --silent $plugin
    then
        asdf plugin update $plugin
    else
        asdf plugin add $plugin
    fi
done < ~/.tool-versions
