#
# User interface
#
font-family = "{{ .ghostty.font.name }}"
font-size = {{ .ghostty.font.size }}
cursor-style = block
theme = light:modus_operandi,dark:modus_vivendi

window-colorspace = "display-p3"
window-save-state = always
window-new-tab-position = end
window-decoration = true
window-padding-x = 8
window-padding-y = 8

#
# macOS specific settings
#
macos-non-native-fullscreen = true
macos-option-as-alt = true

macos-titlebar-proxy-icon = hidden
macos-titlebar-style = transparent

macos-secure-input-indication = true
macos-auto-secure-input = true

#
# Shell shell integration
#
shell-integration = fish
shell-integration-features = no-cursor

#
# Keybindings
#
## Quick Terminal (alt+`)
keybind = global:alt+grave_accent=toggle_quick_terminal
