font-family = "{{ .ghostty.font.name }}"
font-size = {{ .ghostty.font.size }}
theme = light:modus_operandi,dark:modus_vivendi_tinted
## Quick Terminal (alt+`)
keybind = global:alt+grave_accent=toggle_quick_terminal
keybind = super+alt+j=goto_split:bottom
keybind = super+alt+k=goto_split:top
keybind = super+alt+h=goto_split:left
keybind = super+alt+l=goto_split:right
