font-family = "{{ .ghostty.font.name }}"
font-size = {{ .ghostty.font.size }}
theme = "Catppuccin Mocha"

## macOS
window-colorspace = display-p3
quit-after-last-window-closed = true

# Quick Terminal (macOS)
keybind = global:option+grave_accent=toggle_quick_terminal
