{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env bash

echo "Install/upgrade mise"

if [[ ! $(command -v mise) ]]; then
  curl https://mise.run | sh
elif brew list --formula | grep -q '^mise$'; then
  brew upgrade mise
else
  mise self-update -y
fi
{{- end -}}
