{{- if (eq .chezmoi.os "darwin") -}}
#!/usr/bin/env sh

# Check for Homebrew and install if we don't have it
if test ! $(which brew); then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew update

brew bundle --no-lock --global
{{- end -}}
