[user]
  name = Vitaly Slobodin
  email = {{ .git.email }}
  signingkey = {{ .git.signing_key }}

[commit]
  gpgsign = true

[color]
  ui = true
  branch = auto
  diff = auto
  status = auto

[push]
  default = current

[alias]
  up = pull --rebase
  st = status
  co = checkout
  pf = push --force-with-lease
  am = commit --amend
  changed = show --pretty="format:" --name-only
  commend = commit -s --amend --no-edit
  # https://stackoverflow.com/a/48650112/81120
  prune-branches = "!git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D"

[core]
  autocrlf = false
  precomposeUnicode = true
  # Enable parallel index preload for operations like git diff
  preloadindex = true
  excludesfile = ~/.config/git/ignore
  attributesfile = ~/.config/git/attributes
  pager = delta
  # Make `git rebase` safer on macOS.
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false
  # Speed up commands involving untracked files such as `git status`.
  # https://git-scm.com/docs/git-update-index#_untracked_cache
  untrackedCache = true

[interactive]
  diffFilter = delta --color-only

[diff]
  # Use n and N to move between diff sections
  navigate = true
  # Detect copies as well as renames
  renames = copies
  colorMoved = default

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[gpg]
  program = gpg

[fetch]
  prune = true
  fsckObjects = true
  # Cache commit graph to speed up graph log / push operations on fetch.
  writeCommitGraph = true

[rerere]
  enabled = true
