[user]
  name = Vitaly Slobodin
  email = vitaliy.slobodin@gmail.com
  signingkey = {{ .git.gpg.key }}

[commit]
  gpgsign = true

[color]
  ui = true
  branch = auto
  diff = auto
  status = auto

[push]
  default = current

[alias]
  up = pull --rebase
  st = status
  co = checkout
  pf = push --force-with-lease
  am = commit --amend

[core]
  autocrlf = false
  precomposeUnicode = true
  # Enable parallel index preload for operations like git diff
  preloadindex = true
  excludesfile = ~/.config/git/ignore
  attributesfile = ~/.config/git/attributes
  pager = delta
  editor = nvim

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[delta]
  navigate = true
  light = false
  line-numbers = true
  syntax-theme = base16

[interactive]
  diffFilter = delta --color-only

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[includeIf "gitdir:~/Development/gitlab/"]
  path = ~/.config/git/gitlab

[gpg]
  program = {{ .git.gpg.bin }}

[fetch]
  prune = true
