{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# colima version: {{ output "colima" "--version" | trim }}

if command -v colima &> /dev/null; then
    colima completion fish > "$HOME/.config/fish/completions/colima.fish"
fi
{{ end -}}
