local wezterm = require("wezterm")
local config = wezterm.config_builder()

local act = wezterm.action

local function scheme_for_appearance(appearance)
    if appearance:find("Dark") then
        return "Modus-Vivendi"
    else
        return "Modus-Operandi"
    end
end

wezterm.on("window-config-reloaded", function(window)
    local overrides = window:get_config_overrides() or {}
    local appearance = window:get_appearance()
    local scheme = scheme_for_appearance(appearance)
    if overrides.color_scheme ~= scheme then
        overrides.color_scheme = scheme
        window:set_config_overrides(overrides)
    end
end)

-- Font
config.window_frame = {
    font_size = 12,
}
config.command_palette_font_size = 16
config.command_palette_rows = 15
config.font = wezterm.font_with_fallback({
    { family = "{{ .wezterm.font.name }}", weight = "Regular" },
})
config.font_size = {{ .wezterm.font.size }}
config.bold_brightens_ansi_colors = "BrightAndBold"

-- Colors
config.color_scheme = "Modus-Operandi"
config.enable_scroll_bar = false

-- Tab
config.tab_max_width = 60
config.hide_tab_bar_if_only_one_tab = true
config.use_fancy_tab_bar = false

-- Window
config.window_close_confirmation = "NeverPrompt"
config.adjust_window_size_when_changing_font_size = false

-- Bell
config.audible_bell = "Disabled"
config.visual_bell = {
    fade_in_function = "EaseIn",
    fade_in_duration_ms = 100,
    fade_out_function = "EaseOut",
    fade_out_duration_ms = 100,
}

-- General
config.clean_exit_codes = { 130 }
config.automatically_reload_config = true
config.scrollback_lines = 10000

-- Key bindings
config.send_composed_key_when_left_alt_is_pressed = false
config.send_composed_key_when_right_alt_is_pressed = true
config.keys = {
    { mods = "OPT", key = "Enter", action = act.DisableDefaultAssignment },
    { mods = "OPT", key = "LeftArrow", action = act.SendKey({ mods = "ALT", key = "b" }) },
    { mods = "OPT", key = "RightArrow", action = act.SendKey({ mods = "ALT", key = "f" }) },
    { mods = "CMD", key = "LeftArrow", action = act.SendKey({ mods = "CTRL", key = "a" }) },
    { mods = "CMD", key = "RightArrow", action = act.SendKey({ mods = "CTRL", key = "e" }) },
    { mods = "CMD", key = "Backspace", action = act.SendKey({ mods = "CTRL", key = "u" }) },
    { mods = "CMD|OPT", key = "LeftArrow", action = act.ActivatePaneDirection("Left") },
    { mods = "CMD|OPT", key = "RightArrow", action = act.ActivatePaneDirection("Right") },
    { mods = "CMD|OPT", key = "UpArrow", action = act.ActivatePaneDirection("Up") },
    { mods = "CMD|OPT", key = "DownArrow", action = act.ActivatePaneDirection("Down") },
    { mods = "CMD", key = "d", action = act.SplitPane({ direction = "Right" }) },
    { mods = "CMD|SHIFT", key = "d", action = act.SplitPane({ direction = "Down" }) },
    { mods = "SHIFT|SUPER", key = "p", action = act.ActivateCommandPalette },
    { mods = "CMD|SHIFT", key = "UpArrow", action = act.ScrollToPrompt(-1) },
    { mods = "CMD|SHIFT", key = "DownArrow", action = act.ScrollToPrompt(1) },
}

return config
